@using System.Linq
@model BonSite.Web.Admin.Models.ProductListModel
@{
    ViewBag.Title = "ProductList";
}
@section header{
<script type="text/javascript" src="/administration/scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/administration/scripts/showlist.js"></script>
}

@section body{
    @using (Html.BeginForm("List", "Product"))
{
     <div class="main">
<div class="nav">当前位置：<a href="@Url.Action("SiteRunInfo","Home")">管理后台</a>
    @foreach (ArticleClassInfo info in (ViewData["classPath"] as List<ArticleClassInfo>))
    {
     <span> &rsaquo; </span> <a href="@Url.Action("List","Product",new {productClassID=@info.ArticleClassID})">@info.ClassName</a> 
    }

</div>

         
         @{ List<ArticleClassInfo> subclasslist = ArticleClass.AdminGetArticleClassTreeList().Where(p => p.ParentArticleClassID == Model.ClassInfo.ArticleClassID).ToList();}

         @{
             if (subclasslist.Count > 0)
             {

                 <div class="productclass">
                     请选择需要管理的产品分类：
                     <ul> @foreach (ArticleClassInfo classinfo in subclasslist)
                          {
                              <li><a href="@Url.Action("list", "Product", new {productClassid = classinfo.ArticleClassID})">@classinfo.ClassName.Trim()</a></li>
                          }
                     </ul>
                 </div>
             }
             else
             {


             <ul class="submenu">
        	<li class="sel"><a href="#">@(Model.ClassInfo.ClassName)列表</a></li>
        	<li ><a href="@Url.Action("Add","Product",new {productClassID=@Model.ProductClassID})">新加新内容</a></li>
        </ul>
         <div class="btnbar top15" style="display:none;">
            搜索 标题：@Html.TextBox("ProductTitle", Model.ProductTitle, new { height = "18" })
             
            <input type="hidden" value="@Model.ProductClassID" id="productClassID" name="sortDirection" />
             <input type="submit" name="btnSearch" value="搜索" id="btnSearch" />

             <a href="#" delUrl="@Url.Action("del")" >批量删除</a>
         </div>


    <div class="top15">
        <input type="hidden" value="@Model.SortColumn" id="sortColumn" name="sortColumn" />
    <input type="hidden" value="@Model.SortDirection" id="sortDirection" name="sortDirection" />
        	<table width="100%" cellpadding="5" cellspacing="0" class="tblist">
            	<tr>
                    <th style="width: 4.44%; min-width: 30px;"></th>
                    <th style="min-width:425px;width:44.44%">标题</th>
                    <th style="min-width: 30px; width: 4.44%; ">显示</th>
                    <th style="min-width: 30px; width: 4.44%; ">推荐</th>
                    <th style="min-width: 30px; width: 4.44%; ">置顶</th>
                    <th style="min-width: 30px; width: 4.44%; ">浏览</th>
                    <th style="min-width: 120px; width: 14.44%; ">时间</th>
                    <th style="min-width: 60px; width: 8.88%; "></th>
                </tr>
                @foreach (DataRow row in Model.DataList.Rows)
  {
                <tr>
                    <td align="center"><input type="checkbox" value="@row["ProductID"]" selectItem="true" name="articleIdList" /></td>
                    <td align="left">@row["Title"]</td>
                   
                    <td align="center">
                         @if (row["isShow"].ToString() == "0")
                          {
                              @:否
                          }
                          else
                          {
                                @:是
                          }
                    </td>
                    <td align="center">
                         @if (row["isBest"].ToString() == "0")
                          {
                              @:否
                          }
                          else
                          {
                                @:是
                          }
                    </td>
                    <td align="center">
                         @if (row["isTop"].ToString() == "0")
                          {
                              @:否
                          }
                          else
                          {
                                @:是
                          }
                    </td>
                    <td align="center">@row["hits"]</td>
                    <td align="center">@row["addtime"]</td>
                    <td>
                        @Html.ActionLink("编辑", "Edit", new { ProductID = row["ProductID"] })
        @Html.ActionLink("删除", "Del", new { productidList = row["ProductID"] }, new { @class="deleteOperate"})
                    </td>
                </tr>
                }
                </table>
        <div class="pagelist">
    @Html.AdminPager(Model.PageModel)
</div>
</div>
                 
                 
                 
             }}
         
         </div>
    }
    }