@model BonSite.Web.Admin.Models.BannerPositionModel
@{
    ViewBag.Title = "AddBannerPosition";
}

@section body{
     <div class="main">
<div class="nav">当前位置：
     <span> &rsaquo; </span> <a href="#">系统管理</a> 
     <span> &rsaquo; </span> <a href="@Url.Action("AdvertList")">Banner管理</a> 
     <span> &rsaquo; </span> <a href="#">Banner位置管理</a> 
    

</div>

        <ul class="submenu">
        	<li><a href="@Url.Action("BannerList")">Banner列表</a></li>
        	<li><a href="@Url.Action("BannerPositionList")">Banner位置列表</a></li>
        	<li class="sel"><a href="#">新加Banner位置</a></li>
        </ul>
         @using (Html.BeginForm())
       { 
           <div class="top15">
        <table width="100%" class="tbstyle1" cellpadding="5" cellspacing="1">
            <tr>
    <th width="80px" align="right">标题：</th>
    <td>@Html.TextBoxFor(x => x.Title, new { @class = "input", size = "35" })@Html.ValidationMessageFor(x => x.Title)</td>
    </tr>
          <tr>
    <th align="right">描述：</th>
    <td>@Html.TextAreaFor(x => x.Description, new { cols = "40", rows = "6" })@Html.ValidationMessageFor(x => x.Description)</td>
    </tr>
            <tr>
                <th></th>
                <td><input id="btnSubmit" type="submit" value="提交" /></td>
            </tr>
        </table>

           </div>
       }

   
         
         </div>
    
    }