@model BonSite.Web.Admin.Models.BannerListModel
@{
    ViewBag.Title = "BannerList";
}

@section body{

     <div class="main">
<div class="nav">当前位置：
     <span> &rsaquo; </span> <a href="#">系统管理</a> 
     <span> &rsaquo; </span> <a href="#">Banner管理</a> 
    

</div>

        <ul class="submenu">
        	<li class="sel"><a href="#">Banner列表</a></li>
        	<li><a href="@Url.Action("BannerPositionList")">Banner位置列表</a></li>
        	<li><a href="@Url.Action("AddBanner")">新加新Banner</a></li>
        </ul>


    <div class="top15">
        	<table width="100%" cellpadding="5" cellspacing="0" class="tblist">
            	<tr>
                    <th width="40" align="center"></th>
                    <th align="left" >标题</th>  
                    <th width="130" align="left" >位置</th>
                    <th width="140" align="left">开始时间</th>  
                    <th width="140" align="left">结束时间</th>  
                    <th width="60" align="left" >排序</th>  
                    <th width="60" align="left" >状态</th>  
                    <th width="90" align="left">管理操作</th>
                </tr>
                @{
  foreach (DataRow row in Model.BannerList.Rows)
  {
  <tr>
    <td align="center"></td>
    <td>@row["atitle"]</td>
    <td>@row["aptitle"]</td>
    <td>@row["StartTime"]</td>
    <td>@row["EndTime"]</td>
    <td>@row["DisplayOrder"]</td>
    <td>
        @if (row["IsShow"].ToString() == "0")
      {
          @:隐藏
      }
      else
      {
          @:展示
      }
            </td>
    <td>
        @Html.ActionLink("[编辑]", "editBanner", new { Id = row["ID"] }, new { @class = "editOperate" })
        @Html.ActionLink("[删除]", "delBanner", new { Id = row["ID"] }, new { @class = "deleteOperate" })
    </td>
    </tr>
  }
  }
                </table>
        <div class="dataListEdit" style="display:none;">
<a href="#" delUrl="@Url.Action("del")" class="batch batchDel">批量删除</a>
</div>
</div>
         
         </div>
    
    }
    }