
@model BonSite.Web.Admin.Models.ArticleListModel
@section header{

    <link rel="stylesheet" href="/administration/content/ueditor/themes/default/css/ueditor.css" />
    <script type="text/javascript" src="/administration/scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/administration/content/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/administration/content/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" src="/administration/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="/administration/scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="/administration/content/my97datepicker/WdatePicker.js"></script>
    <style>
        .textA{
            display:inline-block;
            padding-right:10px;
        }
        .reset{

        }
        .ContentWrap{
            
        }
        #ContentId{
            display:inline-block;
            width:0;height:0;
            overflow:hidden;
            visibility:hidden;
        }
        #Content {
            display:inline-block;
        }


    </style>
    <link href="/administration/content/css/uploadify.css" rel="stylesheet" type="text/css" />
    @*<script type="text/javascript" src="/administration/scripts/jquery.uploadify.js"></script>*@
    <script language="javascript" type="text/javascript">
        //防止客户端缓存文件，造成uploadify.js不更新，而引起的“喔唷，崩溃啦”
        document.write("<script type='text/javascript' "
                + "src='/administration/scripts/jquery.uploadify.js?" + new Date()
                + "'></s" + "cript>");

        function Submit() {

            //var arrayArticle = GetAccessInfo('ArticleGroup');
            var arrayArticle = $("#ContentId").text();
            var arrayTag = GetAccessInfo('TagGroup');
            var arrayType = GetAccessInfo('TypeGroup');
            //
            if (arrayArticle == null || arrayArticle == "") {
                alert("请选择文章！");
                return false;
            }
            else if (arrayTag == null || arrayTag == "")
            {
                alert("请选择公众号组！");
                return false;
            }
            else {
                var isSure = true;
                if (isSure) {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "/SourceAdmin/SendWeChatSubmit",
                        data: "{ mydata:'" + arrayArticle + "*" + arrayTag + "*" + arrayType + "'}",
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            alert("群发成功");
                        },
                        error: function (msg) {
                            alert(msg.responseText);
                        }
                    });
                }

            }
        }

        function GetAccessInfo(name) {
            var delInfo = document.getElementsByName(name);
            var array = '';
            for (var i = 0; i < delInfo.length; i++) {
                if (delInfo[i].checked) {
                    array += delInfo[i].value + '#';
                }
            }
            return array;
        }

        $(window).load(function () {
            $(".tblist input[type='checkbox']").each(function () {
                $(this).on("click", function () {
                    if ($(this).attr("checked")) {
                        $("#ContentId").append($(this).attr("id")+"#")
                        $("#Content").append("<span class='textA'>" + this.value + "</span >");

                    } else {
                        alert("你已经选择过了");
                        $(this).attr("checked", true)

                    }
                })
            })



            $(".reset").on("click", function () {
                $("input[type='checkbox']").removeAttr("checked");
                $("#Content").html("");
                $("#ContentId").html("")
            })



        })

        //function Add() {
        //    $("#Content").html("");
        //    $("input[type='checkbox']").each(function () {
        //        if (this.checked) {
        //            $("#Content").append("<td>" + this.value + "</td>")

        //        }
        //    })
        //}



    


    </script>

}

@section body{
    <div class="main">

        <ul class="submenu">
            <li class="sel"><a href="#">微信群发</a></li>
        </ul>

        <div class="main">

            <div class="top15">
                <input type="hidden" value="@Model.SortColumn" id="sortColumn" name="sortColumn" />
                <input type="hidden" value="@Model.SortDirection" id="sortDirection" name="sortDirection" />
                <input type="hidden" value="" id="HiddenArticleGroup" name="HiddenArticleGroup" />
                <table width="100%" cellpadding="5" cellspacing="0" class="tblist">
                    <tr>
                        <th width="3%"></th>
                        <th>标题</th>
                        <th>栏目</th>
                        <th style="width:60px;">审核状态</th>
                        <th>添加人</th>
                        <th style="width:120px;">时间</th>
                        <th>操作</th>
                    </tr>
                    @foreach (DataRow row in Model.DataList.Rows)
                    {
                        //var checkBoxIDName = @row["ArticleID"] + "*" + @row["Title"];
                        <tr>
                            <td align="center"><input type="checkbox" id="@row["ArticleID"]" value="@row["Title"]" name="articleIdList" /></td>
                            <td align="left">@row["Title"]</td>
                            @{
                        if (BonSite.Services.ArticleClass.AdminGetModelById(int.Parse(row["ArticleClassID"].ToString())) != null)
                        {
                            <td align="center">@BonSite.Services.ArticleClass.AdminGetModelById(int.Parse(row["ArticleClassID"].ToString())).ClassName</td>
                        }
                        else
                        {
                            <td align="center">未知栏目</td>
                        }
                            }
                            <td align="center">
                                @if (row["ApprovalStatus"].ToString() == "1")
                                {
                                    @:通过
                          }
                                else if (row["ApprovalStatus"].ToString() == "2")
                                {
                                    @:未通过
                        }
                                else
                                {
                                    @:待审核
                        }
                            </td>
                            <td align="center">@row["UserName"]</td>
                            <td align="center">@row["addtime"]</td>
                            <td>
                                <a href="/ViewPc/@(row["ArticleID"]).html" target="_blank">预览</a>
                            </td>
                        </tr>
                    }
                </table>
                
               
            </div>
            <div class="pagelist">
                @Html.AdminPager(Model.PageModel)
            </div>
        </div>

        @using (Html.BeginForm())
        {
            <div class="top15">
                <table width="100%" class="tbstyle1" cellpadding="5" cellspacing="1">
                    
                    <tr>
                        <th>文章组</th>
                        <td>
                            <div class="ContentWrap">
                                <button class="reset">重新选择</button>
                                <div id="ContentId"></div>
                                <div id="Content">

                                </div>
                            </div>
                            @*<div>
                                @if (ViewData["ArticleList"] != null)
{
    foreach (BonSite.Web.Admin.Models.ArticleModel data in (ViewData["ArticleList"] as List<BonSite.Web.Admin.Models.ArticleModel>))
    {
        <input class="ck" name="ArticleGroup" id=@data.ArticleClassID type="checkbox" value="@data.ArticleClassID" checked="checked" /> <label>@data.Title</label>
                                    }
                                }
                            </div>*@
                        </td>
                    </tr>

                    <tr>
                        <th>公众号组</th>
                        <td>

                            <div>
                                @if (ViewData["TagList"] != null)
{
    foreach (BonSite.Core.Domain.Site.WeChatInfo data in (ViewData["TagList"] as List<BonSite.Core.Domain.Site.WeChatInfo>))
    {
        var appIDsecret = data.appid + "@" + data.secret;
        <input class="ck" name="TagGroup" value="@appIDsecret" id=@data.id type="radio" /> <label>@data.name</label>
                                    }                                    
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>群发方式</th>
                        <td>
                            <div>
                                <input class="ck" name="TypeGroup" value="0" id=1 type="radio" /> <label>微信群发</label>
                                <input class="ck" name="TypeGroup" value="1" id=2 type="radio" /> <label>微信客服群发</label>
                            </div>

                        </td>
                    </tr>


                    <tr>
                        <th></th>
                        <td>
                            @*<input id="btnSubmit" type="submit" value="提交" />*@
                            <input id="btnSubmit" onclick="Submit()" type="button" value="提交" />
                        </td>

                    </tr>

                </table>

            </div>
        }

}
