@*@model BonSite.Web.Admin.Models.UserRoleModel*@
@{
    ViewBag.Title = "List";
    int content = 1;
}
@section header{
    <script type="text/javascript" src="/administration/scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/administration/scripts/showlist.js"></script>
}
@section body{
    @using (Html.BeginForm("List", "WeChat"))
    {
        <div class="main">
            <div class="nav">
                当前位置：
                <a href="@Url.Action("SiteRunInfo","Home")">管理后台</a>
                <span> &rsaquo; </span> <a href="#">公众号管理</a>


            </div>

            <ul class="submenu">
                <li class="sel"><a href="#">公众号列表</a></li>
                <li><a href="@Url.Action("Add","WeChat")">新加公众号</a></li>
            </ul>


            <div class="top15">
                <table width="100%" cellpadding="5" cellspacing="0" class="tblist">
                    <tr>
                        
                        <th width="50">序号</th>
                        <th width="100" >公众号</th>
                        <th width="130" >appid</th>
                        <th width="130" >密钥</th>
                        <th width="90" >操作</th>
                    </tr>
                    @{

        foreach (var info in Model.WeChatList)
        {
            <tr>
                @*<td><input type="hidden" value="@info.id" selectitem="true" name="WeChatList" /></td>*@
                  
                <td align="center">@content</td>
                <td align="center">@info.name</td>
                <td align="center">@info.appid</td>
                <td align="center">@info.secret</td>
                <td align="center">
                    @Html.ActionLink("编辑", "edit", new { id = info.id }, new { @class = "editOperate" })
                    @Html.ActionLink("删除", "del", new { idList = info.id }, new { @class = "deleteOperate" })
                </td>
            </tr>
            content++;
        }
                    }
                </table>
               
            </div>

        </div>

    }
}