@model BonSite.Web.Admin.Models.ArticleListModel
@using System.Data;
@{
    ViewBag.Title = "ArticleListSearch";
    int content = 1;
}
@section header{
    <script type="text/javascript" src="/administration/scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/administration/scripts/showlist.js"></script>
}

@section body{
    <div class="main">
        <div class="nav">
            当前位置：<a href="@Url.Action("SiteRunInfo","Home")">管理后台</a>
            @*@foreach (ArticleClassInfo info in (ViewData["classPath"] as List<ArticleClassInfo>))
                {
                    <span> &rsaquo; </span> <a href="@Url.Action("List","Article",new {articleClassID=@info.ArticleClassID})">@info.ClassName</a>
                }*@
        </div>

        <ul class="submenu">
            <li class="sel"><a href="#">@(Model.ClassInfo.ClassName)列表</a></li>
        </ul>
        <div class="top15">
            <input type="hidden" value="@Model.SortColumn" id="sortColumn" name="sortColumn" />
            <input type="hidden" value="@Model.SortDirection" id="sortDirection" name="sortDirection" />
            <table width="100%" cellpadding="5" cellspacing="0" class="tblist">
                <tr>
                    <th style="min-width:20px;width:2.44%">序号</th>
                    <th style="min-width: 30px; width: 4.44%; ">标题</th>
                    <th style="min-width: 20px; width: 2.96%; ">所属栏目</th>
                    <th style="min-width: 30px; width: 4.44%; ">审核状态</th>
                    <th style="min-width: 30px; width: 4.44%; ">浏览</th>
                    <th style="min-width: 30px; width: 4.44%; ">添加人</th>
                    <th style="min-width: 30px; width: 4.44%; ">时间</th>
                    <th style="min-width: 30px; width: 4.44%; ">操作</th>
                </tr>
                @foreach (DataRow row in Model.DataList.Rows)
                {
                    <tr>
                        <td align="center">@content</td>
                        <td align="center">@row["title"]</td>
                        <td align="center">@row["ComeForm"]</td>
                        <td align="center">
                            @if (row["ApprovalStatus"].ToString() == "1")
                            {
                                @:通过
                            }
                            else if (row["ApprovalStatus"].ToString() == "2")
                            {
                                @:未通过
                            }
                            else
                            {
                                @:待审核
                            }
                        <td align="center">@row["Hits"]</td>
                        <td align="center">@row["Author"]</td>
                        <td align="center">@row["AddTime"]</td>
                        <td align="center">
                            <a href="/ViewPc/@(row["ArticleID"]).html" target="_blank">预览</a>
                            @Html.ActionLink("编辑", "Edit", new { articleID = row["ArticleID"] })
                            @Html.ActionLink("删除", "Del", new { articleIdList = row["ArticleID"] }, new { @class = "deleteOperate" })
                        </td>
                    </tr>
                    content++;
                }
            </table>
            <div class="pagelist">
                @Html.AdminPager(Model.PageModel)
            </div>
        </div>
    </div>
}