@*@model BonSite.Web.Admin.Models.ClassManageModel*@
@{
    ViewBag.Title = "List";
}

@section body{
    @using (Html.BeginForm("List", "ClassManage"))
{
     <div class="main">
<div class="nav">当前位置：
     <span> &rsaquo; </span> <a href="#">系统管理</a> 
     <span> &rsaquo; </span> <a href="#">班级管理</a> 
    

</div>

        <ul class="submenu">
        	<li class="sel"><a href="#">班级管理列表</a></li>
        	<li ><a href="@Url.Action("Add")">新加新班级</a></li>
        </ul>


    <div class="top15">
        	<table width="100%" cellpadding="5" cellspacing="0" class="tblist">
            	<tr>
                    <th width="40" align="center"><input type="checkbox" id="allSelect"/></th>
                    @*<th width="90" align="left" >班号</th>*@  
                    <th width="130" align="left" >班级名称</th>
                    <th width="90" align="left">管理操作</th>
                </tr>
                @{
    foreach (BonSite.Core.Domain.Site.ClassManageInfo info in Model.ClassManageList)
  {
  <tr>
    <td align="center"><input type="checkbox" value="@info.ClassID" selectItem="true" name="idList" /></td>
 
    @*<td>@info.ClassID</td>*@
    <td>@info.ClassName</td>
    <td>
        @Html.ActionLink("编辑", "edit", new { id = info.ClassID }, new { @class = "editOperate" })
        @Html.ActionLink("删除", "del", new { idList = info.ClassID }, new { @class = "deleteOperate" })
    </td>
    </tr>
  }
  }
                </table>
        <div class="dataListEdit">
<a href="#" delUrl="@Url.Action("del")" class="batch batchDel"></a>
</div>
</div>
         
         </div>
    
    }
}