@model BonSite.Web.Admin.Models.FeedBackListModel
@{    
    ViewBag.Title = "FeedBackList";
}
@section body{
<div class="main">
<div class="nav">当前位置：
     <span> &rsaquo; </span> <a href="#">系统管理</a> 
     <span> &rsaquo; </span> <a href="#">信息反馈管理</a> 
    

</div>

        <ul class="submenu">
        	<li class="sel"><a href="#">信息反馈列表</a></li>
        </ul>


    <div class="top15">
        	<table width="100%" cellpadding="5" cellspacing="0" class="tblist">
            	<tr>
                    <th width="40" align="center"></th>
                    <th align="left" >主题</th>  
                    <th width="130" align="left" >提交人</th>
                    <th width="140" align="left">提交时间</th> 
                    <th width="60" align="left" >公开</th>  
                    <th width="60" align="left" >状态</th>  
                    <th width="90" align="left">管理操作</th>
                </tr>
                @{
  foreach (DataRow row in Model.FeedBackList.Rows)
  {
  <tr>
    <td align="center">@row["id"]</td>
    <td>@row["title"]</td>
    <td>@row["linkman"].ToString()</td>
    <td>@row["AddTime"]</td>
    <td>@if (row["isOut"].ToString() == "1")
      {
          @:允许
      }      
      else
      {
            @:不允许
      }</td>
    <td>
        @if (row["state"].ToString() == "1")
      {
          @:已审核
      }
      else
      {
          @:未审核
      }
            </td>
    <td>
        @Html.ActionLink("[编辑]", "editFeedBack", new { Id = row["id"] }, new { @class = "editOperate" })
        @Html.ActionLink("[删除]", "delFeedBack", new { Id = row["id"] }, new { @class = "deleteOperate" })
    </td>
    </tr>
  }
  }
                </table>
        <div class="dataListEdit" style="display:none;">
<a href="#" delUrl="@Url.Action("del")" class="batch batchDel">批量删除</a>
</div>
<div class="page">
    @Html.AdminPager(Model.PageModel)
</div>
</div>
         
         </div>
    
    }
    }