@using System.Data
@model BonSite.Web.Models.ArticleListModel
@{
    ViewBag.Title = @Model.ArticleClassInfo.ClassName + " - " + @WorkContext.SiteConfig.SiteTitle;
    Layout = "~/Themes/zzbz/Views/Shared/_LayoutPc.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="@Url.Content("~/Content/pcWeb/css/reset.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/pcWeb/css/style.css")">
    <title>Document</title>
    @*分页*@
    <link rel="stylesheet" href="@Url.Content("~/Content/layui/css/layui.css")" media="all" />
</head>

<body style="background:#d3cab8">
    <div class="content container">
        <div class="img-wrap">
            <img src="/Content/pcWeb/images/bn_1708311451499364375.jpg" alt="">
            @*<div class="img-wrap-tit"><h3>品质八中</h3></div>*@
        </div>

        <div class="content-wrap">
            <div class="content-wrap-header">
                <div class="fl" style="margin-top: 5px;">
                    <a href="/">首页</a><span></span><a>>@ViewData["ClassArticleIdName1"]</a><a style="@ViewData["HaveChild2"]" href="/ListPc/@ViewData["ClassArticleId2"]-1.html">>@ViewData["ClassArticleIdName2"]</a>@*<a style="@ViewData["HaveChild3"]" href="/ListPc/@ViewData["ClassArticleId3"]-1.html">>@ViewData["ClassArticleIdName3"]</a>*@
                </div>



                <!--三级导航栏-->
                <div class="secound-nav fr" >
                    <ul class="secound-nav-list">
                        @{
                            DataTable list = (DataTable)ViewData["list"];
                            if (list != null && list.Rows.Count > 0)
                            {

                                foreach (DataRow dr in list.Rows)
                                {
                                    <li class="secound-nav-item"><a href="/ListPc/@(dr["ArticleClassID"].ToString())-1.html">@dr["ClassName"].ToString()</a></li>
                                }
                            }
                        }
                    </ul>
                </div>

            </div>

            <!--新闻内容-->
            <div class="content-wrap-con">
                <div class="content-wrap-left">
                    <ul class="content-wrap-list">                      
                        @{
                            for (int i = 0; i < Model.ArticleList.Rows.Count; i++)
                            {
                                <li class="new-box-item"><a href="/ViewPc/@(Model.ArticleList.Rows[i]["ArticleID"]).html" target="_blank" class="new-box-item-con">@Model.ArticleList.Rows[i]["Title"]</a><span class="new-box-time">@DateTime.Parse(Model.ArticleList.Rows[i]["AddTime"].ToString()).ToString("yyyy-MM-dd")</span></li>
                            }
                        }
                    </ul>



                    <!--页码-->
                    @*<div class="page-con">
                        <ul class="page-con-list">
                            @Html.WebPager(Model.PageModel)
                        </ul>
                    </div>*@
                    <div class="pagelist">
                        @Html.WebPager(Model.PageModel)
                    </div>
                </div>


                <div class="content-wrap-right">
                    <div class="content-wrap-right-list1">
                        <div class="content-wrap-right-tit1"><h2>最新资讯<span class="h3-small"><span style="padding:0 6px;">/</span>Latest information</span> </h2></div>
                        <ul class="content-wrap-list2">
                            @{
                                foreach (DataRow dr in BonSite.Services.Article.GetArticleList(10, 1, " [DisplayType] in (0,2) ", "[AddTime] DESC").Rows)
                                {
                                    <li class="new-box-item"><a href="/ViewPc/@(dr["ArticleID"].ToString()).html" class="new-box-item-con">@dr["Title"].ToString()</a></li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="content-wrap-right-list1">
                        <div class="content-wrap-right-tit1"><h2>推荐视频<span class="h3-small"><span style="padding:0 6px;">/</span>Recommend video</span></h2></div>
                        <ul class="content-wrap-list2">
                            @{
                                foreach (BonSite.Core.ArticleInfo info in BonSite.Services.Article.GetArticleList(297, 4))
                                {
                                    <li class="content-wrap-item2">
                                        <a href="/ViewPc/@(info.ArticleID).html">
                                            <div class="video-img-wrap content-wrap-img">
                                                <img src="/Upload/Article/Show/thumb640_480/@info.ImgUrl" onerror="this.src = '/Content/PcWeb/images/t3.jpg'" alt="">
                                                <div class="video-img-meng"></div>
                                            </div>
                                            <span title="@info.Title">@info.Title</span>

                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
            <!--新闻内容结束-->
    
</body>
</html>